**/.texpadtmp
/ct rsv time series.csv
.RData
.Rhistory
*.nb.html
Analysis/plots/**/*.pdf

/Paper/RSVOptimization.pdf
/Paper/RSVOptimization.tex
/Paper/cache
/Paper/RSVOptimization-blx.bib
/Paper/RSVOptimization.aux
/Paper/RSVOptimization.bbl
/Paper/RSVOptimization.blg
/Paper/RSVOptimization.lof
/Paper/RSVOptimization.log
/Paper/RSVOptimization.out
/Paper/RSVOptimization.synctex.gz
.Rproj.user
/knitr
/overleaf
/overleaf backprop
/Paper/RSVOptimization.run.xml
/data/ct rsv time series.csv
/cache
/rsv-optimization

# Please output directory and local configuration
plz-out
.plzconfig.local
/output
