[submodule "Analysis/outbreak-inference"]
	path = Analysis/outbreak-inference
	url = https://airbornemint@gitlab.com/airbornemint/outbreak-inference.git
[submodule "build/docker"]
	path = build/docker
	url = https://airbornemint@gitlab.com/airbornemint/gitlab-docker-bootstrap.git
